<div class="d-flex info-card-container justify-content-between mt-5 mb-2">
  <div class="challenge-count-card p-3">
    <h1 class="mt-2 text-center"><%= @challenges.count %></h1>
    <h6 class="text-center">challenges</h6>
  </div>
  <div class="kilometer-card p-3">
    <h1 class="mt-2 text-center"><%= @last_month_distance_m / 1000.00%> km</h1>
    <h6 class="text-center">last 30 days</h6>
  </div>

</div>


<div class="scrolling-wrapper m-0">
  <% if @challenges.count > 1 %>
  <%# IF MULTIPLE CHALLENGES %>
    <% @challenges.each do |c| %>
      <%= link_to challenge_path(c.id), class: "link" do %>
        <div class="scroll-card shadow">
          <div class="scroll-card-title p-1">
            <h6><span style="color:#FEFF00;">/ </span><%= c.name %></h6>
          </div>
          <div class="scroll-card-info">
          <% if c.challenge_type == "KM" %>
          <% header = "#{c.target_distance} km from" %>
          <% else %>
          <% header = "#{c.target_sessions} sessions from" %>
          <% end %>
            <p><%= c.activity_type.capitalize %> <%= header %> <%= c.start_date.strftime("%d %b") %> to <%= c.end_date.strftime("%d %b %Y") %></p>
            <div class="challenge-details mt-3">
              <div class="challenge-detail-block pl-2 text-left">
                <p class="mb-2">Status: <span class="badge"><%= c.status.capitalize %></span></p>
                <p class="mb-2">Progress: <span class="badge">Late</span></p>
                <% if c.challenge_type == "KM"  %>
                <p class="mb-2">Distance left: <%= c.target_distance - c.all_activities_km %></p>
                <% else %>
                <p class="mb-2">Sessions left: <%= c.target_sessions - c.all_activities_sessions %></p>
                <% end %>
              </div>
              <div class="progress-block challenge-detail-block">
                <p style="text-align: left;">Elapsed time</p>
                <div class="progress mb-2">
                  <% a = 0 %>
                  <% a = number_to_percentage((Date.today - c.start_date).fdiv(c.end_date - c.start_date)*100,precision: 2) if Date.today >= c.start_date %>
                  <% a %>
                  <% b = a.to_i %>
                  <% d = 100 %>
                  <div class="progress-bar bg-green" role="progressbar" style="width: <%= a %>;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= [b, d].min %>%</div>
                </div>
                <% if c.challenge_type == "KM" %>
                <p style="text-align: left;">Distance achieved</p>
                <% distance_progress = number_to_percentage((c.all_activities_km / c.target_distance)*100, precision: 2) %>
                <% else %>
                <p style="text-align: left;">Sessions achieved</p>
                <% distance_progress = number_to_percentage((c.all_activities_sessions / c.target_sessions)*100, precision: 2) %>
                <% end %>
                <div class="progress ">
                  <div class="progress-bar bg-green" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= distance_progress %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% elsif @challenges.count == 1%>
  <%# IF ONLY ONE CHALLENGE %>
    <% @challenges.each do |c| %>
        <div class="scroll-card-full shadow">
          <%= link_to challenge_path(c.id), class: "link" do %>
          <div class="scroll-card-title p-1">
            <h6><span style="color:#FEFF00;">/ </span>Challenge #<%= c.id %></h6>
          </div>
          <div class="scroll-card-info">
            <% if c.challenge_type == "KM" %>
          <% header = "#{c.target_distance} km from" %>
          <% else %>
          <% header = "#{c.target_sessions} sessions from" %>
          <% end %>
            <p><%= c.activity_type.capitalize %> <%= header %> <%= c.start_date.strftime("%d %b") %> to <%= c.end_date.strftime("%d %b %Y") %></p>
            <div class="challenge-details mt-3">
              <div class="challenge-detail-block pl-2 text-left">
                <p class="mb-2">Status: <span class="badge"><%= c.status.capitalize %></span></p>
                <p class="mb-2">Progress: <span class="badge"><%= c.progress_text %></span></p>
                <% if c.challenge_type == "KM"  %>
                <p class="mb-2">Distance left: <%= c.target_distance - c.all_activities_km %></p>
                <% else %>
                <p class="mb-2">Sessions left: <%= c.target_sessions - c.all_activities_sessions %></p>
                <% end %>
              </div>
              <div class="progress-block challenge-detail-block">
                <p style="text-align: left;">Elapsed time</p>
                <div class="progress mb-2">
                  <% a = 0 %>
                  <% a = number_to_percentage((Date.today - c.start_date).fdiv(c.end_date - c.start_date)*100,precision: 2) if Date.today >= c.start_date %>
                  <% a %>
                  <% b = a.to_i %>
                  <% d = 100 %>
                  <div class="progress-bar bg-green" role="progressbar" style="width: <%= a %>;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= [b, d].min %>%</div>
                </div>
                <% if c.challenge_type == "KM" %>
                <p style="text-align: left;">Distance achieved</p>
                <% distance_progress = number_to_percentage((c.all_activities_km / c.target_distance)*100, precision: 2) %>
                <% else %>
                <p style="text-align: left;">Sessions achieved</p>
                <% distance_progress = number_to_percentage((c.all_activities_sessions / c.target_sessions)*100, precision: 2) %>
                <% end %>
                  <div class="progress-bar bg-green" role="progressbar" style="width: <%= distance_progress %>;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= distance_progress %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <%# IF NO CHALLENGES CREATED YET %>
    <%# <div class="new-challenge-card">
      <h6>Hey create a new challenge</h6>
    </div> %>
    <div class="_card card shadow h-100">
    <div class="_card-body">
      <h4 class="text-center _card-heading">No active challenge yet? </h4>
      <span class="_card-text text-center">
      It's time to build a new habit!</span>
      <span class="_card-text text-center mb-3">
      Create a challenge, lock in a wager and we will make sure you stick to it!</span>
      <%= link_to "Create a new challenge now!",new_challenge_path, class: "btn _card-button btn-outline-light btn-block" %>
    </div>
  </div>

  <% end %>




</div>

<div class="d-flex justify-content-between mt-3 mb-2">
  <div class="latest-activities-card p-3">
    <h6>Your 5 latest activities:</h6>

    <div class="dashboard-scrolling">

      <table class="table border-success">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Distance</th>
              </tr>
            </thead>
            <tbody>
              <% @top5.each do |a|%>
                <tr>
                  <th scope="row"><%= a.activity_type %></th>
                  <td><%= a.start_date.strftime("%b %d, %Y") %></td>
                  <td><%= Time.at(a.elapsed_time).utc.strftime("%H:%M:%S") %></td>
                  <td><%= a.distance / 1000.0 %>km</td>
                </tr>
              <% end %>
            </tbody>
          </table>
    </div>


  </div>
</div>
