<div class="d-flex info-card-container justify-content-center mt-5 mb-2">
  <h2 class="gradient-text">30 DAYS LEADERBOARD </h2>
</div>

<div class="d-flex info-card-container justify-content-center mt-3 mb-2">
  <%# TOP 3 %>
  <div class="top-flex-container mt-3 mb-2">
    <div class="top-flex-items">
      <% if @users.second.nil? == false %>
        <div><h6>#2</h6></div>
        <div><img src= <%= @users.second.profile.profile_url %> class="top3-avatar rounded-circle" style="width: 100%;" alt="Avatar" /></div>
        <div><p><%= @users.second.profile.first_name.truncate(16) %></p></div>
        <div><p><%= @users.second.total_km_thirty_days / 1000.0 %>km</p></div>
      <% end %>
    </div>

    <div class="top-flex-items">
      <div><h6>#1</h6></div>
      <div><img src= <%= @users.first.profile.profile_url %> class="top3-avatar rounded-circle" style="width: 100%;" alt="Avatar" /></div>
      <div><p><%= @users.first.profile.first_name.truncate(16) if @users.first.profile.first_name.nil? == false %></p></div>
      <div><p><%= @users.first.total_km_thirty_days / 1000.0 %>km</p></div>
    </div>

    <div class="top-flex-items">
      <% if @users.third.nil? == false %>
        <div><h6>#3</h6></div>
        <div><img src= <%= @users.third.profile.profile_url %> class="top3-avatar rounded-circle" style="width: 100%;" alt="Avatar" /></div>
        <div><p><%= @users.third.profile.first_name.truncate(16) %></p></div>
        <div><p><%= @users.third.total_km_thirty_days / 1000.0 %>km</p></div>
      <% end %>
    </div>

  </div>
</div>

  <%# REST OF THE LIST %>
<div class="d-flex info-card-container justify-content-center mt-3 mb-2">
  <div class="d-flex justify-content-between mt-3 mb-2">
    <div class="leaderboard-card-show">
      <div class="leaderboard-scrolling">
        <table class="table border-success">

          <tbody>

            <% @users_from_fourth.each do |u| %>
              <tr>ß
                <td>#4</td>
                <th scope="row">
                  <div><img src="<%= u.profile.profile_url %>" class="leaderboard-avatar-mini rounded-circle" alt="Avatar" /></div>
                </th>
                <td><%= u.profile.username %></td>
                <td><%= u.total_km_thirty_daßys / 1000.0 %>km</td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
