<div class="container justify-content-center m-0 p-5">


  <div class="text-center">
    <p class="supertitle-gradient m-0 p-3">Does it have to be so hard to keep running ?</p>
  </div>

  <div class="container">
    <%= image_tag("runningtiger.png", :alt => "run away from the keeprunning tiger", class: "tiger-image")  %>
  </div>

  <div class="text-center mb-6">
    <%= render "devise/shared/links" %>
    <p>Need help to keep running? Connect now</p>
  </div>
</div>






<% simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
