<div data-controller="flatpickr" class="container" >

    <%= simple_form_for @challenge do|f|%>
      <div data-controller='step' >

        <%# 1) SELECT ACTIVITY TYPE %>
        <div data-step-target="step1" class="d-flex flex-column justify-content-between align-items-center" style="min-height:89vh">
          <div >
            <div data-controller='activity' style="margin-bottom:20px">
                <div class="text-center">
                  <div  data-action="click->activity#running"><%= image_tag("runningwild.png", :alt => "run away from the keeprunning tiger", class: "activity-image", input_html: { data: { action: "click->activity#running" }})  %></div>
                  <h3>Running</h3>
                </div>
                <div class="text-center">
                <div  data-action="click->activity#cycling"><%= image_tag("bicycle.png", :alt => "run away from the keeprunning tiger", class: "activity-image", data_action: "click->activity#cycling") %></div>
                <h3>Cycling</h3>
                </div>
              <%= f.input :activity_type, as: :hidden,required: true, input_html: { data: { activity_target: "activity" }} %>
            </div>
          </div>
          <div style="width:100%;margin-bottom:20px;position:sticky;bottom:20px">
            <div data-action="click->step#to_step2", class="btn btn-primary" style="width:100%">Continue</div>
          </div>
        </div>
        <%# 2) SELECT CHALLENGE TYPE %>
        <div data-step-target="step2" class="d-none d-flex flex-column justify-content-between align-items-center" style="min-height:89vh">
            <div>
              <%= f.input :challenge_type, collection: Challenge::CHALLENGE_TYPE, input_html: {class:"form_input"}%>
            </div>
            <div style="width:100%;margin-bottom:20px;position:sticky;bottom:20px">
              <div data-action="click->step#to_step3", class="btn btn-primary" style="width:100%">Continue</div>
            </div>
        </div>
        <%# 3) SELECT CHALLENGE PARAMETERS %>
        <div data-step-target="step3" class="d-none d-flex flex-column justify-content-between align-items-center" style="min-height:89vh">
            <div class="flex-grow-1">
                <h2>What distance do you target?</h2>
                <%= f.input :target_distance, input_html: {class:"form_input"} %>
                <h2>Over which period of time?</h2>
                <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" },class:"form_input" }%>
                <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" },class:"form_input"} %>
            </div>
            <div style="width:100%;margin-bottom:20px;position:sticky;bottom:20px">
              <div data-action="click->step#to_step4", class="btn btn-primary" style="width:100%">Continue</div>
            </div>
        </div>

        <%# 4) SELECT AMOUNT TO BET PARAMETERS %>
        <div class="d-none" data-step-target="step4" class="d-flex flex-column justify-content-between align-items-center" style="min-height:89vh">

            <%# <div class="d-flex">
              <div></div> grow=1
              <div></div> height=100px
            </div> %>
          <div>
            <h2>Bet on your success!</h2>
            <p>The amount that you deposit here will be kept safely for the duration of the challenge.
            It will be returned to you as soon as you succeed the challenge. If you fail, we will keep it! You will never skip your runs again.</p>
            <%= f.input :price_cents, input_html: {class:"form_input"}, label: "Kikou"%>
            <div class="step4">
            <div style="width:100%;margin-bottom:20px;position:sticky;bottom:20px">
              <%= f.button :submit, class: "btn btn-primary" %>
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

</div>
