<div data-controller="flatpickr" class="container">

    <%= simple_form_for @challenge do|f|%>
      <div data-controller='step' >

        <%# 1) SELECT ACTIVITY TYPE %>
        <div data-step-target="step1" class="d-flex flex-column justify-content-between align-items-center">
          <div >
            <div data-controller='activity'>
                <div class="text-center mb-2" style="border-radius:5px;border:2px solid #FEFF00;margin:15px 0">
                  <div  data-action="click->activity#running"><%= image_tag("runningwild.png", :alt => "run away from the keeprunning tiger", class: "activity-image", input_html: { data: { action: "click->activity#running" }})  %></div>
                  <h3>Running</h3>
                </div>
                <div class="text-center" style="border-radius:5px;border:2px solid #FEFF00;margin:15px 0">
                <div  data-action="click->activity#cycling"><%= image_tag("bicycle.png", :alt => "run away from the keeprunning tiger", class: "activity-image", data_action: "click->activity#cycling") %></div>
                <h3>Cycling</h3>
                </div>
              <%= f.input :activity_type, as: :hidden,required: true, input_html: { data: { activity_target: "activity" }} %>
            </div>
          </div>
          <div style="width:100%;margin-bottom:16px;bottom:16px">
            <div data-action="click->step#to_step2", class="btn btn-primary m-0" style="width:100%">Continue</div>
          </div>
        </div>
        <%# 2) SELECT CHALLENGE TYPE %>
        <div data-step-target="step2" class="d-none d-flex flex-column justify-content-center align-items-center" style="min-height:80vh">
          <div>
            <p class="supertitle-gradient text-center mt-3 mb-2">Select your <br> challenge type:</p>
          </div>
          <div data-controller='challengetype' style="margin-bottom:8px;min-height:100%">
              <div class="text-center p-3 mt-3 mb-0" data-action="click->challengetype#km" style="border-radius:5px;border:2px solid #FEFF00;margin:15px 0">
                <%# <h4><u>Challenge per distance:</u></h4> %>
                <h4><strong>KM: total distance</strong></h4>
                <p style="font-size: 14px;">How <u>far</u> are you willing to go?</p>
                <%# <p>Push yourself in terms of distance...</p> %>
                <p style="font-size: 14px;">E.g. if you are new to running, we suggest to create one new weekly challenge for 10k and try to run two 5k's in a week.</p>
              </div>
              <div class="text-center p-3 mt-3 mb-0" data-action="click->challengetype#distance" style="border-radius:5px;border:2px solid #FEFF00;margin:15px 0">
              <%# <h4><u>Challenge per amount:</u></h4> %>
              <h4><strong>Quantity: total amount</strong></h4>
              <p style="font-size: 14px;">How <u>often</u> are you willing to go?</p>
              <%# <p class="m-0 p-2">Push yourself in terms of total activities...</p> %>
              <p style="font-size: 14px;">E.g. if you are new to running, we suggest to create a new monthly challenge with a total of 12: that's 3x a week at whatever distance you choose.</p>
              </div>
            <%= f.input :challenge_type, as: :hidden, required: true, input_html: { data: { challengetype_target: "challengetype" }}%>
          </div>

          <div style="width:100%;">
            <div data-action="click->step#to_step3", class="btn btn-primary mt-3" style="width:100%">Continue</div>
          </div>
        </div>
        <%# 3) SELECT CHALLENGE PARAMETERS %>
        <div data-step-target="step3" class="d-none d-flex flex-column justify-content-center align-items-center" style="min-height:80vh">
            <div class="text-center mt-5">
                <h2 class="mt-5">What distance do you target?</h2>
                <%= f.input :target_distance, label: false, input_html: {class:"form_input"} %>
                <h2 class="mt-5">Over which period of time?</h2>
                <%= f.input :start_date, as: :string,  label: false, input_html: { data: { flatpickr_target: "startTime" },class:"form_input" }%>
                <%= f.input :end_date, as: :string, label: false, input_html: { data: { flatpickr_target: "endTime" },class:"form_input"} %>
            </div>
            <div style="width:100%;margin-top:160px;top:160px;margin-bottom:20px;bottom:20px">
              <div data-action="click->step#to_step4", class="btn btn-primary" style="width:100%">Continue</div>
            </div>
        </div>

        <%# 4) SELECT AMOUNT TO BET PARAMETERS %>
        <div data-step-target="step4" class="d-none d-flex flex-column justify-content-between align-items-center text-center" style="min-height:89vh">
          <div>
            <h2 class="m-6">Bet on your success!</h2>
            <p class="m-6">The amount that you deposit here will be kept safely for the duration of the challenge.
            It will be returned to you as soon as you succeed the challenge. If you fail, we will keep it! You will never skip your runs again.
            </p>
            <%= f.input :price,  label: false, input_html: {class:"form_input"}, label: "Bet amount"%>
          </div>
          <div style="width:100%;margin-bottom:28px;bottom:28px">
          <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
</div>
