<div data-controller="flatpickr" class="container">
  <%= simple_form_for @challenge do|f|%>

    <div data-controller='step' >
      <div class="step1" data-step-target="step1">
        <div data-controller='activity' >
          <div class="activities">
            <div class="activity">
            <div  data-action="click->activity#running"><%= image_tag("runningwild.png", :alt => "run away from the keeprunning tiger", class: "activity-image", input_html: { data: { action: "click->activity#running" }})  %></div>
            <h3>Running</h3>
            </div>
             <div class="activity">
            <div  data-action="click->activity#cycling"><%= image_tag("bicycle.png", :alt => "run away from the keeprunning tiger", class: "activity-image", data_action: "click->activity#cycling") %></div>
            <h3>Cycling</h3>
            </div>
          </div>

          <%= f.input :activity_type, as: :hidden,required: true, input_html: { data: { activity_target: "activity" }} %>
          <div data-action="click->step#to_step2", class="btn btn-primary">Continue</div>

        </div>


      </div>

      <div class="d-none" data-step-target="step2">
        <%= f.input :challenge_type, collection: Challenge::CHALLENGE_TYPE, input_html: {class:"form_input"}%>
        <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" },class:"form_input" }, hint: "When would like to start"%>
        <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" },class:"form_input"} %>
        <%= f.input :target_distance, input_html: {class:"form_input"} %>
        <div data-action="click->step#to_step3", class="btn btn-primary">Continue</div>
      </div>

      <div class="d-none" data-step-target="step3">
        <%= f.input :bet_amount, input_html: {class:"form_input"}%>
        <%= f.button :submit, class: "btn btn-primary"  %>
      </div>
    </div>
  <% end %>
</div>
