<div class="container-fluid d-flex flex-column my-5">

  <div class="challenge-card bg-white shadow my-5">
    <div class="scroll-card-title p-1">
      <h6><span style="color:#FEFF00;">/ </span>Challenge <%= @challenge.name  %></h6>
    </div>

    <div class="scroll-card-info justify-content-between">
      <% if @challenge.challenge_type == "KM" %>
          <% header = "#{@challenge.target_distance} km from" %>
      <% else %>
        <% header = "#{@challenge.target_sessions} sessions from" %>
      <% end %>
      <p><%= @challenge.activity_type.capitalize %> <%= header %> from <%= @challenge.start_date.strftime("%d %b") %> to <%= @challenge.end_date.strftime("%d %b, %Y") %></p>

      <div class="challenge-details mt-3">

        <div class="challenge-detail-block pl-2 text-left">
          <p class="mb-2">Challenge Type: <span class="badge"><%= @challenge.challenge_type.capitalize %></span></p>
          <p class="mb-2">Activity Type: <span class="badge"><%= @challenge.activity_type.capitalize %></span></p>
          <p class="mb-2">Status: <span class="badge"><%= @challenge.live_status.capitalize %></span></p>
          <% if @challenge.challenge_type == "KM"  %>
            <p class="mb-2">Distance left: <%= [@challenge.target_distance - @challenge.type_dependant_km,0].max %></p>
          <% else %>
            <p class="mb-2">Sessions left: <%= [@challenge.target_sessions - @challenge.type_dependant_sessions,0].max %></p>
          <% end %>
          <p>Amount : <%= @challenge.price %>€</p>
        </div>

        <div class="progress-block challenge-detail-block">
          <% a = 0 %>
          <% a = number_to_percentage((Date.today - @challenge.start_date).fdiv(@challenge.end_date - @challenge.start_date)*100,precision: 2) if Date.today >= @challenge.start_date%>
          <% b = a.to_i %>
          <% d = 100 %>
          <p style="text-align: left;">Elapsed time</p>
          <div class="progress mb-2">
            <div class="progress-bar bg-green" role="progressbar" style="width: <%= a %>;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= [b, d].min %>%</div>
          </div>
          <% if @challenge.challenge_type == "KM" %>
            <p style="text-align: left;">Distance achieved</p>
            <% progression = number_to_percentage(((@challenge.type_dependant_km * 1.0) / @challenge.target_distance)*100, precision: 0) %>
            <% distance_progress = progression.to_i %>
          <% else %>
            <p style="text-align: left;">Sessions achieved</p>
            <% progression = number_to_percentage(((@challenge.type_dependant_sessions * 1.0) / (@challenge.target_sessions))*100, precision: 2) %>
            <% distance_progress = progression.to_i %>
          <% end %>
          <div class="progress ">
            <div class="progress-bar bg-green" role="progressbar" style="width: <%= progression %>;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= [distance_progress, 100].min %> %</div>
          </div>
          <p class="mb-2 text-center bold mt-2"><%= @challenge.progress_text %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-around mt-5">
    <div class="latest-activities-card-show">
      <h6>Activities counted for this challenge:</h6>
      <div style="overflow:scroll;">
        <table class="table border-success">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Date</th>
              <th scope="col">Duration</th>
              <th scope="col">Distance</th>
            </tr>
          </thead>
          <tbody>
            <% @challenge.all_activities.each do |a| %>
              <tr>
                <th scope="row"><%= a.activity_type %></th>
                <td><%= a.start_date.strftime("%b %d, %Y") %></td>
                <td><%= Time.at(a.elapsed_time).utc.strftime("%H:%M:%S") %></td>
                <td><%= a.distance / 1000.0 %>km</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <p class="table-footer">Don't see your latest activity? Contact </p><a class="table-footer" href="mailto:support@keeprunning.app?subject=Latest Activity Error">support</a>
    </div>
  </div>
</div>
