<div class="d-flex flex-column justify-content-between mt-5">
  <div class="latest-activities-card">
    <%# <h6>All your activities:</h6> %>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item act-link" role="presentation">
        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All (<%= @allactivities.count%>)</button>
      </li>
      <li class="nav-item act-link" role="presentation">
        <button class="nav-link" id="running-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Running (<%= @runningactivities.count%>)</button>
      </li>
      <li class="nav-item act-link" role="presentation">
        <button class="nav-link" id="cycling-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Cycling (<%= @ridingactivities.count%>)</button>
      </li>
    </ul>

    <div class="activities-scrolling">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%# ALL TAB %>
          <table class="table border-success">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Distance</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              <% @allactivities.each do |a|%>
                <tr>
                  <th scope="row"><%= a.activity_type %></th>
                  <td><%= a.start_date.strftime("%b %d, %Y") %></td>
                  <td><%= Time.at(a.elapsed_time).utc.strftime("%H:%M:%S") %></td>
                  <td><%= a.distance / 1000.0 %>km</td>
                  <td><%= link_to "🔗", "https://www.strava.com/activities/#{a.strava_id}", class:"navlink" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <%# RUNNING TAB TAB %>
          <table class="table border-success">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Distance</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              <%# @runningactivities.each do |a|%>
                <tr>
                  <td><%#= a.start_date.strftime("%b %d, %Y") %> sadsdsadsadsdsa</td>
                  <td><%#= Time.at(a.elapsed_time).utc.strftime("%H:%M:%S") %>asdsadsadsadasd</td>
                  <td><%#= a.distance / 1000.0 %>sadasdsadsadsakm</td>
                  <td><%#= link_to "🔗", "https://www.strava.com/activities/#{a.strava_id}", class:"navlink" %></td>
                </tr>
              <%# end %>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <%# RIDE TAB %>
          <table class="table border-success">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Distance</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
              <% @ridingactivities.each do |a|%>
                <tr>
                  <td><%= a.start_date.strftime("%b %d, %Y") %> addsdwddasdsd</td>
                  <td><%= Time.at(a.elapsed_time).utc.strftime("%H:%M:%S") %></td>
                  <td><%= a.distance / 1000.0 %></td>
                  <td><%= link_to "🔗", "https://www.strava.com/activities/#{a.strava_id}" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<div class="text-center p-3 m-3 d-flex flex-column align-items-center">
  <%= link_to "See my Strava profile", "https://www.strava.com/athletes/#{current_user.athlete_id.to_s}", class: "profile-button" %>
</div>

</div>
